// main: ../styles.less
#main-page{
    background-color: @mainBgColor;

    .ml6 {
        position: relative;
        font-weight: 900;
        font-size: 3.3em;
    }
  
    .ml6 .text-wrapper {
        position: relative;
        display: inline-block;
        padding-top: 0.2em;
        padding-right: 0.05em;
        padding-bottom: 0.1em;
        overflow: hidden;
    }
    
    .ml6 .letter {
        display: inline-block;
        line-height: 1em;
    }

    .logo{
        position: relative;
        @logo_height: 150px;
        height: @logo_height;
        width: 1 * @logo_height;
        img{
            position: absolute;
            max-width: 100%;
            &.part1{
                top: 0;
                left: 0;
                height: 0.47 * @logo_height;
            }
            &.part2{
                top: 0.265 * @logo_height;
                right: 0;
                height: 0.47 * @logo_height;
            }
            &.part3{
                top: 0.53 * @logo_height;
                left: 0;
                height: 0.47 * @logo_height;
            }
        }
    }


    .mainBlock{
        video{
            width: 100%;
        }
    }
    
    .portfolioBlock{
        a{
            .card{
                transition: all .2s ease-in-out;
                border: none;
                border-radius: 0;
                .card-img-top {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
                .card-title{
                    color: @brandColor;
                }
                .card-text{
                    color: @primaryColor;
                }
            }
            &:hover{
                text-decoration: none;
                .card{
                    transform: scale(1.01);                
                }
            }
        }
    }

    .productBlock{
        .animatedCard{
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            min-height: 300px;
            position: relative;
            .hoverContent{
                transition: all .2s ease-in-out;
                background-color: transparent;
                position: absolute;
                top:0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                h3{
                    color: white;
                }
                p{
                    color: white;
                }
                .hover_show{
                    display: none;
                }
            }
            &:hover{
                .hoverContent{
                    background-color: @brandTransparencyColor;
                }
                .hover_show{
                    display: block;
                }
            }
        }
    }

    .feedbackBlock{
        img{
            padding: 1rem;
        }
    }

    .socialBlock{
        background-color: @socialBlockBgColor;
        padding-top: 15px;
        ul{
            display: flex;
            padding: 0;
            justify-content: space-around;
            width: 100%;
            li{
                list-style: none;
                a{
                    font-size: 45px;
                    i{
                        &.fa-instagram{
                            background:
                            /////// Use radial gradients to get the rounded
                            /////// gradient effect in each corner

                            // left bottom
                            radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
                            radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
                            // left top
                            radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
                            radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
                            //  right top
                            radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
                            radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
                            // right bottom
                            radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),

                            /////// create a base coat to smooth
                            /////// corner gradients
                            linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
                            color: white;
                            border-radius: 12px;
                            padding: 3px 5px 2px 5px;
                        }
                        &.fa-vk{
                            color: #3b5998;
                        }
                        &.fa-facebook{
                            color: #3b5998;
                        }
                        &.fa-youtube{
                            color: #FF0000;
                        }
                    }
                }
            }
        }
    }
}